/* General */
html, body {
    background: #FFFFF1;
}
html body {
    font-size: 80%;
}
.container {
    margin: 2em auto 0 auto;
    width: 710px;
}
.hell {
    padding: 1em;
}
hr {
    background: #999;
    color: #999;
}

/* Header */
header hgroup {
    text-transform: lowercase;
}
header h1 a {
    text-shadow: 1px 1px 1px #999;
    color: #111;
    text-decoration: none;
}
header h1 span {
    margin-right: -0.1em;
}
header h2 {
    margin-bottom: 0;
}
header strong {
    font-weight: normal;
}
header h1 span+span {
    opacity: 0.5;
    -moz-opacity: 0.5;
}

/* Content */
#content {
    padding: 1em;
    background: #FFFFAA;
    margin: 1em 0 0 0;
    font-size: 120%;
}
#content h1 {
    font-size: 150%;
}
#content h2 {
    font-size: 120%;
}
#content .meta {
    font-size: 70%;
}

/* Footer */
footer {
    color: #666;
    opacity: 0.4;
    -moz-opacity: 0.4;
    padding: 1em;
}
footer .span-18 {
    padding-top: 1em;
    float: none;
}
footer h1 {
    font-size: 150%;
}
footer ul {
    padding-left: 1em;
}
#about {
    padding-right: 0.5em;
}
#very-footer {
    margin-top: 4em;
    font-size: 80%;
    color: #333;
    text-align: right;
    padding-right: 2em;
}
